html, body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/beams.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: left;
}
@tailwind base;
@tailwind components;
@tailwind utilities;